.app-wrapper{
    width: 1280px;
    margin:0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 8px;

}

.content{
    grid-area: c;
    background: url("https://images.pexels.com/photos/388415/pexels-photo-388415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover;
}
a{
    color: darkred;
}
.face_img .face{
    width: 100px;
    height: 100px   ;
}