.app-wrapper{
    width: 1280px;
    margin:0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 8px;

}

.content{
    grid-area: c;

}
a{
    color: darkred;
}
.face_img .face{
    width: 100px;
    height: 100px   ;
}